* {
  background-color: lightgray;
}
.full {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

}
.full p {
  font-size: 20px;
  margin: 10px;
}

#image img {
  width: 900px;
  height: 450px;
  margin: auto;

}

#image {
  background: white;
  margin-bottom: 20px;
}
#image p {
  text-align: center;
}

#text h2 {
  text-align: center;

}

.life {
  margin-left: 350px;
  margin-right: 350px;

}

.reference {
  margin-left: 250px;
  margin-right: 150px;
  font-size: 20px;
}